{% extends 'dashboard.html.twig' %}

{% block title %}Modification d'une facture{% endblock %}

{% block body %}
<div class="flex flex-col p-5 gap-5">
        <div class="flex items-center justify-between">
            <div class="flex">
                <h1 class="lg:text-4xl md:text-2xl text-2xl">Modification d'une facture</h1>
            </div>
            <div class="flex">
                <a class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" href="{{ path('company_invoice_index') }}">Retour à la liste</a>
            </div>
        </div>
        {{ include('back/invoice/_form.html.twig', {'button_label': 'Update'}) }}
        {{ include('back/invoice/_delete_form.html.twig') }}
    </div>
{% endblock %}
