{% extends 'base.html.twig' %}

{% block title %}Liste des sociétés{% endblock %}

{% block body %}
    <div class="flex flex-col p-5 gap-5">
        <div class="flex items-center justify-between">
            <div class="flex">
                <h1 class="lg:text-4xl md:text-2xl text-2xl">Liste des sociétés</h1>
            </div>
            <div class="flex gap-2">
                {% include 'components/_button.html.twig' with {
                    'path': 'back_company_new',
                    'text': 'Ajouter une société',
                    'bgColor': 'blue',
                    'textColor': 'white',
                } %}
            </div>
        </div>
        {% embed 'components/_table.html.twig' with {
            'arrayLabel': [
                '#', 'Nom de la société', 'Adresse', 'Email', 'Numéro de Siret'
            ],
            'properties': [
                'id', 'companyName', 'address', 'email', 'siretNumber'
            ],
            'arrayList': companies,
            'route_show': 'back_company_show',
            'route_edit': 'back_company_edit',
        } %}
        {% endembed %}
    </div>
{% endblock %}
