{% extends 'admin.html.twig' %}

{% block title %}Liste des categories{% endblock %}

{% block body %}
    <div class="flex flex-col p-5 gap-5">
        <div class="flex items-center justify-between">
            <div class="flex">
                <h1 class="lg:text-4xl md:text-2xl text-2xl">Catégories</h1>
            </div>
            <div class="flex">
                {% include 'components/_button.html.twig' with {
                    'text': 'Créer une nouvelle catégorie',
                    'bgColor': 'blue',
                    'textColor': 'white',
                    'path': 'back_category_new'
                } %}
            </div>
        </div>
        {% embed "components/_table.html.twig" with {
            'arrayLabel': [
                'Nom de la catégorie'
            ],
            'properties': [
                'categoryName'
            ],
            'arrayList': categories,
            'route_show': 'back_category_show',
            'route_edit': 'back_category_edit'
        } %}
        {% endembed %}
    </div>
{% endblock %}
