{% extends 'admin.html.twig' %}

{% block title %}Détail d'une categorie{% endblock %}

{% block body %}
    <div class="flex flex-col p-5 gap-5">
        <div class="flex items-center justify-between">
            <div class="flex">
                <h1 class="lg:text-4xl md:text-2xl text-2xl">Détail de la categorie</h1>
            </div>
            <div class="flex gap-2">
                {% include 'components/_button.html.twig' with {
                    'path': 'back_category_index', 
                    'text': 'Retour à la liste', 
                    'bgColor': 'blue', 
                    'textColor': 'white',
                } %}
                
                {% include 'components/_button.html.twig' with {
                    'path': 'back_category_edit',
                    'id': category.id,
                    'text': 'Modifier', 
                    'bgColor': 'blue', 
                    'textColor': 'white',
                } %}
            </div>
        </div>
        {% embed 'components/_table.html.twig' with {
            'arrayLabel': [
                'Nom de la catégorie'
            ],
            'properties': [
                'categoryName'
            ],
            'arrayList': [category],
        } %}
        {% endembed %}
    </div>
{% endblock %}
