{# templates/back/customer/index.html.twig #}

{% extends 'dashboard.html.twig' %}

{% block title %}Liste des clients{% endblock %}

{% block body %}
    <div class="flex flex-col p-5 gap-5">
        <div class="flex items-center justify-between">
            <div class="flex">
                <h1 class="lg:text-4xl md:text-2xl text-2xl">Liste des clients de la société {{ company.companyName }}</h1>
            </div>
            <div class="flex">
                {% include "components/_button.html.twig" with {
                    'path': 'company_customer_new',
                    'text': 'Créer un nouveau client',
                    'bgColor': 'blue',
                    'textColor': 'white',
                } %}
            </div>
        </div>

        {% embed "components/_table.html.twig" with {
            'arrayLabel': [
                'Nom', 'Prénom', 'Email', 'Créé le', 'Modifié le'
            ],
            'properties': [
                'lastName', 'firstName', 'email', 'createdAt', 'updatedAt'
            ],
            'arrayList': users,
            'route_show': 'company_customer_show',
            'route_edit': 'company_customer_edit',
        } %}
        {% endembed %}
    </div>
{% endblock %}