{% extends 'admin.html.twig' %}

{% block title %}Créer un utilisateur{% endblock %}

{% block body %}
    <div class="flex flex-col p-5 gap-5">
        <div class="flex items-center justify-between">
            <div class="flex items-center">
                <h1 class="lg:text-4xl md:text-2xl text-2xl">Créer un nouvel utilisateur</h1>
            </div>
            <div class="flex gap-2">
                {% include 'components/_button.html.twig' with {
                    'path': 'back_user_index',
                    'text': 'Retour à la liste',
                    'bgColor': 'blue',
                    'textColor': 'white',
                } %}
            </div>
        </div>
        {{ include('back/user/_form.html.twig') }}
    </div>
{% endblock %}
