{% extends 'dashboard.html.twig' %}

{% block title %}Liste des factures{% endblock %}

{% block body %}
    <div class="flex flex-col p-5 gap-5">
        <div class="flex items-center justify-between">
            <div class="flex">
                <h1 class="lg:text-4xl md:text-2xl text-2xl">Factures</h1>
            </div>
            <div class="flex">
                {% include "components/_button.html.twig" with {
                    'path': 'company_invoice_new',
                    'text': 'Créer une nouvelle facture',
                    'bgColor': 'blue',
                    'textColor': 'white',
                } %}
            </div>
        </div>

        {% embed "components/_table.html.twig" with {
            'arrayLabel': [
                '#', 'Prénom', 'Nom', 'Adresse mail', 'Date de création', 'Total HT', 'Total TTC'
            ],
            'properties': [
                'id', 'firstname', 'lastname', 'email', 'creationDate', 'totalHT', 'totalTTC'
            ],
            'arrayList': invoices,
            'route_show': 'company_invoice_show',
            'route_edit': 'company_invoice_edit',
        } %}
        {% endembed %}
    </div>
{% endblock %}
