{# templates/user/edit.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Modifier le client{% endblock %}

{% block body %}
    <h1>Modifier le client</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded">Sauvegarder les modifications</button>
    {{ form_end(form) }}

    <a href="{{ path('back_customer_show', {id: user.id}) }}">Retour à la fiche du client</a>
{% endblock %}
