<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% block stylesheets %}
            {{ encore_entry_link_tags("app") }}
        {% endblock %} 
        {% block javascripts %}
            {{ encore_entry_script_tags("app") }}
        {% endblock %}
    </head>
    <body class="flex flex-col font-poppins">
        <header>
            {% block header %} 
                {% include 'components/_navbar.html.twig' %}
            {% endblock %}
        </header>
        <main class="flex-1">
            {% for message in app.flashes('success') %}
                <div class="bg-green-100 border-t border-b border-green-500 text-white-700 px-4 py-3" role="alert">
                    <p class="text-sm">{{ message }}</p>
                </div>
            {% endfor %}
            {% block body %}{% endblock %}
        </main>
        {% block footer %}
            {% include 'components/_footer.html.twig' %} 
        {% endblock %}
    </body>
</html>
