{% extends 'dashboard.html.twig' %}

{% block title %}Suivi des paiements{% endblock %}

{% block body %}
    <div class="flex flex-col p-5 gap-5">
        <div class="flex items-center justify-between">
            <div class="flex">
                <h1 class="lg:text-4xl md:text-2xl text-2xl">Suivi des paiements</h1>
            </div>
        </div>

        {% set properties = [
            'id', 
            'lastname', 
            'firstname', 
            'creationDate',
            'totalTTC',
            'totalHT',
        ] %}

        {% set arrayLabel = [
            '#', 'Nom', 'Prénom ', 'Date de création', 'Total TTC', 'Total HT'
        ] %}

        {% if is_granted('ROLE_ACCOUNTANT') %}
            {% set properties = properties|merge(['paymentStatus']) %}
            {% set arrayLabel = arrayLabel|merge(['Statut de Paiement']) %}
        {% endif %}

        {% embed 'components/_table.html.twig' with {
            'arrayLabel': arrayLabel,
            'properties': properties,
            'arrayList': invoices,
        } %}
        {% endembed %}
    </div>
{% endblock %}
