{% extends 'dashboard.html.twig' %}

{% block title %}Modification d'un produit{% endblock %}

{% block body %}
    <div class="flex flex-col p-5 gap-5">
        <div class="flex items-center justify-between">
            <div class="flex items-center">
                <h1 class="lg:text-4xl md:text-2xl text-2xl">Modification d'un produit</h1>
            </div>
            <div class="flex gap-2">
                {{ include('company/product/_delete_form.html.twig') }}
                {% include 'components/_button.html.twig' with {
                    'path': 'company_product_index',
                    'text': 'Retour à la liste',
                    'bgColor': 'blue',
                    'textColor': 'white',
                } %}
            </div>
        </div>
        {{ include('company/product/_form.html.twig', {'button_label': 'Sauvegarder'}) }}
    </div>
{% endblock %}
