{% extends 'dashboard.html.twig' %}

{% block title %}Product index{% endblock %}

{% block body %}
    <div class="flex flex-col p-5 gap-5">
        <div class="flex items-center justify-between">
            <div class="flex">
                <h1 class="lg:text-4xl md:text-2xl text-2xl">Produits</h1>
            </div>
            <div class="flex">
                <a class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" href="{{ path('company_product_new') }}">Créer un nouveau produit</a>
            </div>
        </div>

        {% embed "_components/_table.html.twig" with {
            'arrayLabel': [
                'Id', 'Product', 'Description', 'Unit Price'
            ],
            'properties': [
                'id', 'productName', 'description', 'unitPrice'
            ],
            'arrayList': products,
            'route_show': 'company_product_show',
            'route_edit': 'company_product_edit'
        } %}
        {% endembed %}
    </div>
{% endblock %}
