{% extends 'dashboard.html.twig' %}

{% block title %}Liste des produits{% endblock %}

{% block body %}
    <div class="flex flex-col p-5 gap-5">
        <div class="flex items-center justify-between">
            <div class="flex">
                <h1 class="lg:text-4xl md:text-2xl text-2xl">Produits</h1>
            </div>
            <div class="flex">
                {% include 'components/_button.html.twig' with {
                    'text': 'Créer un nouveau produit',
                    'bgColor': 'blue',
                    'textColor': 'white',
                    'path': 'company_product_new'
                } %}
            </div>
        </div>
        {% embed "components/_table.html.twig" with {
            'arrayLabel': [
                '#', 'Vignette', 'Nom du produit', 'Description', 'Catégorie', "Prix à l'unité"
            ],
            'properties': [
                'id', 'imageName', 'productName', 'description', 'categoryName', 'unitPrice'
            ],
            'arrayList': products,
            'route_show': 'company_product_show',
            'route_edit': 'company_product_edit'
        } %}
        {% endembed %}
    </div>
{% endblock %}
