{% extends 'dashboard.html.twig' %}

{% block title %}Liste des devis{% endblock %}

{% block body %}
    {% set visibilityConfig = {
        'creationDate': 'hidden md:hidden sm:hidden lg:table-cell',
        'firstname': 'hidden table-cell md:table-cell sm:hidden lg:table-cell',
        'lastname': 'hidden table-cell md:table-cell sm:hidden lg:table-cell',
    } %}

    {% set visibilityConfigLabel = {
        'Date de création': 'hidden md:hidden sm:hidden lg:table-cell',
        'Prénom': 'hidden table-cell md:table-cell sm:hidden lg:table-cell',
        'Nom': 'hidden table-cell md:table-cell sm:hidden lg:table-cell',
    } %}

    <div class="flex flex-col p-5 gap-5">
        <div class="flex items-center justify-between">
            <div class="flex">
                <h1 class="lg:text-4xl md:text-2xl text-2xl">Devis</h1>
            </div>
            <div class="flex">
                {% include "components/_button.html.twig" with {
                    'path': 'company_quotation_new',
                    'text': 'Créer un nouveau devis',
                    'bgColor': 'blue',
                    'textColor': 'white',
                } %}
            </div>
        </div>
        {% embed "components/_table.html.twig" with {
            'arrayLabel': [
                '#', 'Prénom', 'Nom', 'Adresse mail', 'Date de création', 'Status du devis', 'Total HT', 'Total TTC',
            ],
            'properties': [
                'id', 'firstname', 'lastname', 'email', 'creationDate', 'status', 'totalHT', 'totalTTC'
            ],
            'arrayList': quotations,
            'route_show': 'company_quotation_show',
            'route_edit': 'company_quotation_edit',
            'visibilityConfig': visibilityConfig,
            'visibilityConfigLabel': visibilityConfigLabel,
        } %}
        {% endembed %}
    </div>
{% endblock %}
